ul {
  width: 100%;
  margin: 10px 0;
  li {
    display: flex;
    position: relative;
    margin-bottom: 15px;
    img {
      width: 66px;
      height: 66px;
      border-radius: 50%;
    }
    div {
      margin-left: 10px;
      margin-top: 10px;
      p {
        margin-bottom: 0px;
        font-size: 15px;
        font-weight: 500;
      }
    }
    input {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
  }
}
